* {
  box-sizing: border-box;
}

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* ==================== Classes Bootstrap ========================= */

.container{
	padding: 0px;
}

.row{
	width: 100%;
}

/* ==================== Primeira Seção do site ==================== */

.container-geral{
	width: 100%;
	height: 600px;
	background: url('../images/bg-main.jpg') no-repeat center center fixed;
	background-size: cover;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.wrapper-info {
	width: 80%;
	height: 300px;
	background-color: red;
	display: inherit;
	justify-content: flex-start;

  	padding: 5px;
}

.main-info{
	width: 400px;
	height: 300px;
	background-color: black;
	padding: 10px;
}

.main-info p{
	color: white;
	margin-bottom: 5px;
	margin-left: 5px;
}

/* -==================== Section About ================ */

.about-game{
	padding: 80px 50px 80px 50px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    line-height: 24px;
}

.about-game img{
    margin: 6% 0 10px 10%;
    float: right;
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.about-game p{
	padding: 0 0 20px;
}

.about-game h1{
	margin: 0px 0px 20px 0px;
}

/* -==================== Section Story ================ */

.story-section{
	padding: 80px 50px 80px 50px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    line-height: 24px;
}

.story-section p{
	padding: 0 0 20px;
}

.story-section h1{
	margin: 0px 0px 20px 0px;
}

.story-section img{
	margin: 6% 0 10px 10%;
    float: left;
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

/* -==================== Section Characters ================ */
.characters-section{
  	background-color: lightyellow;
  	padding: 50px;
}

.container-characters{
	width: 100%;
    height: 250px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characters-header{
	background-color: transparent;
    margin: 20px 0px 20px 0px;
    text-align: left;
}

.characters-info{
	width: 210px;
    height: 170px;
  	border: 2px dashed red;
    background-size: 100%;
    background-repeat: no-repeat;
  	margin-bottom: 20px;
}

.randi{ background-image: url(../images/randi.png); background-position: 100% 5%;}
.primm{ background-image: url(../images/primm.png); background-position: 100% 5%;}
.popoi{ background-image: url(../images/popoi.jpg); background-position: 100% 15%;}

.characters-wrapper p{
	text-align: center;
}

/* -==================== Section Screenshots ================ */

.screenshots-section{
  	background-color: #f1f1f1;
  	padding: 50px;
}

.container-screenshots{
	width: 100%;
    min-height: 250px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.screenshots-header{
	background-color: transparent;
    margin: 20px 0px 40px 0px;
    text-align: center;
}

.screenshots-info{
	width: 191px;
    height: 150px;
    padding: 5px;
    background-color: white;

}

.screenshots-info img{
	width: 100%;
    height: 100%;
    opacity: 1;
	display: block;
	transition: .5s ease;
  	backface-visibility: hidden;
}

.screenshots-info:hover img{
	opacity: 0.3;
}

.middle-eye{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.icon{
	 background-color: #4CAF50;
	 color: white;
	 font-size: 16px;
	 padding: 16px 32px;
}
.screenshots-info:hover .middle-eye{
	opacity: 1;
}

/* Nessa seção estou configurando */

.zoom-wrapp {
	
}

.zoom-container{

}
 
