* {
  box-sizing: border-box;
}

/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/* ==================== Classes gerais ========================= */

.main{
	max-width: 800px;
    display: block;
    margin: 0 auto;
}

/* ==================== Classes Bootstrap ========================= */

.container{
	padding: 0px;
}

.row{
	width: 100%;
}

/* ==================== Primeira Seção do site ==================== */

.container-geral{
	width: 100%;
	height: 600px;
	background: url('../images/bg-main.jpg') no-repeat center center fixed;
	background-size: cover;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  	align-items: center;
    padding: 50px;
}

.wrapper-info {
	height: 300px;
	background-color: red;
	display: inherit;
	justify-content: flex-start;

  	padding: 5px;
}

.main-info{
	width: 400px;
	height: 300px;
	background-color: black;
	padding: 10px;
}

.main-info p{
	color: white;
	margin-bottom: 5px;
	margin-left: 5px;
}

/* -==================== Section About ================ */

.about-game{
	padding: 40px 50px 40px 50px;
    background-color: white;
    font-size: 20px;
    line-height: 24px;
}

.about-game img{
    margin: 6% 0 10px 10%;
    float: right;
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

.about-game p{
	padding: 0 0 20px;
	font-size: 15px;
}

.about-game h1{
	margin: 0px 0px 20px 0px;
	color: rgb(40,62,83);
	font-size: 1.5em;
}

/* -==================== Section Story ================ */

.story-section{
	padding: 40px 50px 40px 50px;
    background-color: rgb(236,237,239);
    font-size: 20px;
    line-height: 24px;
}

.story-section p{
	padding: 0 0 20px;
	font-size: 15px;
}

.story-section h1{
	margin: 0px 0px 20px 0px;
    color: rgb(40,62,83);
    font-size: 1.5em;
}

.story-section img{
	margin: 6% 10% 27px 0;
    float: left;
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

/* -==================== Section Characters ================ */
.characters-section{
  	background-color: white;
  	padding: 50px;
}

.container-characters{
	width: 100%;
    height: 250px;
    background-color: transparent;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.characters-header{
	background-color: transparent;
    margin: 20px 0px 35px 0px;
    text-align: left;
}

.characters-header h1{
	margin: 0px 0px 15px 0px;
    color: rgb(40,62,83);
    font-size: 25px;
}

.characters-info{
	width: auto;
    height: 160px;
    background-size: 100%;
    background-repeat: no-repeat;
  	margin-bottom: 20px;
  	border-radius: 4px;
}

.class{font-size: 12px!important; padding-top: 0px!important;}
.randi{ background-image: url(../images/randi.png); background-position: 100% 5%;}
.primm{ background-image: url(../images/primm.png); background-position: 100% 5%;}
.popoi{ background-image: url(../images/popoi.jpg); background-position: 100% 15%;}

.characters-wrapper{width: 32%;}
.characters-wrapper p{
	text-align: center;
 	padding: 10px 0px 10px 0px;
    font-size: 15px;
    color: rgb(40,62,83);
}

.characters-wrapper p:hover{
	color: rgb(41,192,162);
}

/* -==================== Section Screenshots ================ */

.screenshots-section{
  	background-color: #f1f1f1;
  	padding: 50px;
}

.container-screenshots{
	width: 100%;
    min-height: 250px;
    background-color: transparent;
	display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.screenshots-header{
	background-color: transparent;
    margin: 20px 0px 40px 0px;
    text-align: center;
}

.screenshots-header h1{
	margin: 0px 0px 15px 0px;
    color: rgb(40,62,83);
    font-size: 25px;
}

.screenshots-header p{
	font-size: 20px;
    color: #b0b6b8;
}

.screenshots-info{
	width: 191px;
    height: 145px;
    padding: 5px;
    border-radius: 32px;

}

.screenshots-info img{
	width: 100%;
    height: 100%;
    opacity: 1;
	display: block;
	transition: .5s ease;
  	backface-visibility: hidden;
}

.screenshots-info:hover img{
	opacity: 0.3;
}

.middle-eye{
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.icon{
	 background-color: #4CAF50;
	 color: white;
	 font-size: 16px;
	 padding: 16px 32px;
}
.screenshots-info:hover .middle-eye{
	opacity: 1;
}

/* Nessa seção estou configurando o hover para aparecer o icone de Zoom nas screenshots */

.zoom-wrapp {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
	padding: 20px;
	border: 1px solid #fff;
	line-height: 1;
	opacity: 0;
}

.zoom-wrapp:hover{
	opacity:1;
    background:rgba(0,0,0,0.5) center no-repeat
}

.zoom-container{

}
 
/* -==================== Section Buy Now ================ */

.buygame-section{
    padding: 150px 50px 150px 50px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  	justify-content: center;
  	align-items: center;
  	position: relative;
    background: black;
    overflow: hidden;
    color: white;
}

.buygame-section:before{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(../images/bg-buy.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.wrapper-buygame{
	text-align: center;
}

.wrapper-buygame h2{
	font-size: 35px;
}

.wrapper-buygame h2:nth-child(1){
	margin-bottom: 20px;
}

.wrapper-buygame h2:nth-child(2){
	margin-bottom: 10px;
}

.txtalign{
	z-index: 10;
    line-height: 25px;
}

.btn-buy{
	background-color: rgb(255,88,7);
    border: none;
    color: white;
    font-weight: 600;
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px 0px 25px 0px;
    cursor: pointer;
    border-radius: 3px;
}

/* =========================== Media queries =========================== */

@media screen and (max-width: 750px) {
	.about-game h1, .story-section h1{
		padding-bottom: 30px;
		padding-top: 30px;
		text-align: center;
		margin: 0 auto;
		float: none;
		display: block;
	}

	.about-game img, .story-section img {
		margin: 0 auto;
		float: none;
		height: 280px;
		width: 280px;
		border-radius: 50%;
		display: block;
	}

}